 /* Establecer la imagen de fondo desde la web */
 body{
  font-family: 'Courier New', Courier, monospace;
  /*background-color: rgb(201, 148, 110);*/
 }
 header {
    padding: 4%;
    background-image: url('../img/interior.avif');   
    background-size: cover;             /* La imagen cubre toda la pantalla */
    background-position: top center;    /* Posición inicial de la imagen */
    background-attachment: fixed;       /* Hace que la imagen de fondo se quede fija al hacer scroll */
    background-repeat: no-repeat;       /* Evita que la imagen se repita */
    color: rgb(245, 247, 246);        /*Cambia el color del texto para que sea visible sobre la imagen */ 
}
nav { 
  /*display: flex;
  position: fixed;*/
  font-weight: bolder;
  font-size: large;
  align-items: center; /* Centra el contenido verticalmente */    
}
nav a:hover{
  background-color: #0D6EFD;
}
nav img {
  max-width: 8%; /* La imagen no se desborda */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Asegura que la imagen se ajusta bien */
  margin-right: 10%;
  border-radius: 100%;
}
main{
  margin-top: 5%;
  color: rgb(255, 255, 255);
  display: flex; /* Habilita Flexbox */
  flex-direction: column;
  text-align: center;
  }
  h1{
    letter-spacing: 10px;
    font-weight: bolder;
  }
.flex-container{
  display: flex;  
  justify-content: space-between; 
  font-size: x-large;
  font-style: italic;
  text-align: justify;
}
.contenedor2{
  width: 50%;
  margin: 5%;
}
.estilos{
  font-size: x-large;
  color: white;
}
.estilos :hover{
  background-color: brown;
}
.contenedor{
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
}
.col{
  flex: 1 1 20%; /* Hace que cada div ocupe el 20% del ancho */
  margin: 10px;   /* Espacio entre las columnas */
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}
.contenedor :hover{
  background-color: rgb(212, 212, 212);
}
.tamaño2{
  width: 60%;
}
