 body{
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  outline: none;
  caret-color: transparent;
}
section {
  padding: 90px 20px;
  border-bottom: 1px solid #ccc;
  scroll-margin-top: 10px; /* espacio para evitar solapamiento */
}
.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-image: url('/modules/cliente/img/interior.avif');   
  background-size: cover;             /* La imagen cubre toda la pantalla */
  background-position: top center;    /* Posición inicial de la imagen */
  background-attachment: fixed;       /* Hace que la imagen de fondo se quede fija al hacer scroll */
  background-repeat: no-repeat;       /* Evita que la imagen se repita */ 
  font-weight: bolder;
  color: white;
}
.item{
  margin: 1rem;
  flex: 1;
  text-align: center;
}
.centrar{
  display: flex;
  justify-content: center;
}
.logo {
  width: 10%;
  border-radius: 100%;
  margin: 1rem;
}
/* Modal login */
.modal-content {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  border-radius: 2rem;
  background-color: #F5ECE6;
  border: solid 1px #102A47;
  margin: auto;
  margin-bottom: 2rem;
  width: 40%;
  color: #102A47;
}
h1,h2,h3{
  letter-spacing: 1px;
  font-weight: 600;
}
.flex-container{
  display: flex;
  justify-content: space-between;
  font-size: larger;
  text-align: justify;
  align-items: center;
  margin: 5rem;
}
.flex-item{
  flex: 1;
  margin: 10px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.contenedor{
  display: flex;
  flex-wrap: wrap;
  margin: 5rem;
}
.col{
  flex: 1 1 20%; /* Hace que cada div ocupe el 20% del ancho */
  margin: 5px;   /* Espacio entre las columnas */
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}
.contenedor :hover{
  background-color: rgb(212, 212, 212);
}
.tamaño2{
  width: 60%;
}

/*Menu lareral*/
#menu-toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1001;
  font-size: 24px;
  background: #102A47;
  opacity: 0.95 ;
  color: #EE771A;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}
#side-menu{
  padding: 15px;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #102A47;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 1000;
}
#side-menu a {
  color: #e4dbe0;
  padding: 15px 20px;
  text-decoration: none;
  border-top: 1px solid #EE771A;
}
#side-menu a.active{
  color: white; /* verde de WhatsApp, por ejemplo */
  font-weight: bold;
  background-color: #EE771A;
}
#side-menu a:hover {
  background: #EE771A;
  transition: 0.4s;
}
#side-menu.open {
  left: 0;
}

/*Seccion contacto*/

.centrar-contacto{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#contacto { 
  background-color: #F5ECE6;
  padding: 20px 10px;
}
.redes-sociales {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.redes-sociales a img {
  transition: transform 0.2s ease;
}
.redes-sociales a img:hover {
  transform: scale(1.2);
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 70%;
}
form input, form button {
  padding: 10px;
  font-size: 16px;
  border-radius: 1rem;
  border: none;
}
form button {
  background-color: #EE771A;
  color: #102A47;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}
form button:hover {
  background-color: #102A47;
  color: #F5ECE6;

}

/* Prueba de estilos tabla*/
.table-bordered{
  background-color: #F5ECE6;
  margin: 3rem;
  border:solid 1px #EE771A;
  color: #102A47;
}

/*Prueba dashboard*/

.container {
  
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 2rem 10rem 2rem 10rem;
  transition: margin-left 0.3s ease;
  min-height: 100vh;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 20px 0;
  color: #102A47;
}

.card-stat {
  background: #F5ECE6;
  padding: 20px;
  border: 2px solid #ddd;
}

.card-stat h2 {
  margin: 10px 0 0;
}

.card {
  background: #F5ECE6;
  padding: 20px;
  border: 2px solid #ddd;
  margin-bottom: 20px;
}

.orden {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 10px;
}

.badge {
  padding: 3px 8px;
  font-size: 12px;
}

.alta {
  background: black;
  color: white;
}

.barra {
  width: 100%;
  height: 8px;
  background: #ddd;
  margin-top: 5px;
}

.progreso {
  height: 100%;
  background: #b60a0a;
}

#main-content{
  transition: margin-left 0.3s ease;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem 10rem 2rem 10rem;
}

#main-content.shift{
  margin-left: 250px;
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}